---
import ButtonPrimary from "@components/ButtonPrimary";
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import z1 from "@assets/manipulators/z1.png";
import d1 from "@assets/manipulators/d1.png";
import "@styles/tech_section.scss";
import "@styles/cards_section.scss";
import "@styles/book_section.scss";
import ButtonSecondary from "@components/ButtonSecondary";
import newPic from "@assets/manipulators/manipulator.png";

import book_bck from "@assets/book_bck.png";
import { pages } from "@/scripts/pages";
---

<Layout>
  <section id="hero-section" class="overflow-hidden">
    <img
      src="/videos/manipulators/hero.gif"
      alt="Manipulators Animation"
      loading="eager"
      fetchpriority="high"
    />
    <div class="content">
      <h1 class="h1 color-black">
        Unitree Manipulators <br />
        and Dexterous Hands
      </h1>
      <span class="subtitle-3"> Extending the Reach of AI Robots </span>
      <p class="paragraph-1">
        Equip your Unitree platform with high-precision robotic arms and
        dexterous hands to unlock complex manipulation, inspection, and
        interaction tasks.
      </p>
      <ButtonPrimary
        content="buy now"
        className="black-type"
        type="a"
        href={pages.product.path}
      />
    </div>
  </section>
  <section class="right-img-section manipulator">
    <div class="content">
      <h2 class="h1">
        Unitree Z1 <br class="br-mobile br-tablet" /> Manipulator
      </h2>
      <span class="subtitle-3"> Versatile and Precise </span>
      <p class="paragraph-1">
        The Z1 is a compact and lightweight 6-Axis robotic arm designed for
        seamless integration with mobile platforms like the Go2 and B2.
      </p>
    </div>
    <div class="details">
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1 subtitle-3">Performance</p>
        </div>
        <span class="paragraph-1"
          >The Z1 PRO offers a payload of ≥3kg and a reach of 740mm, with a high
          repeatability of ~0.1mm.</span
        >
      </div>
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1">Control</p>
        </div>
        <span class="paragraph-1">
          It supports Position + Force Control and features Collision
          Protection, making it safe and reliable for collaborative and delicate
          tasks.</span
        >
      </div>
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1">Integration</p>
        </div>
        <span class="paragraph-1"
          >Its open programming interface and extended interface ensure easy
          integration and rapid development of custom applications.</span
        >
      </div>
    </div>
    <Picture class="shot" src={z1} alt={"Z1 Manipulators"} />
  </section>

  <section id="d1-section">
    <div class="content">
      <h2 class="h1">
        Unitree D1-T <br class="br-mobile br-tablet" /> Manipulator
      </h2>
      <span class="subtitle-3">High-Performance and Lightweight</span>
      <p class="paragraph-1">
        The D1-T is a high-performance, lightweight, and versatile robotic arm
        designed for a wide range of mobile robot applications. It features an
        advanced control system for precise and dynamic movements, making it an
        excellent choice for complex manipulation tasks where agility and speed
        are critical.
      </p>
    </div>
    <Picture class="shot" src={d1} alt={"Z1 Manipulators"} />
  </section>

  <section class="right-img-section hand">
    <div class="content">
      <h2 class="h1">
        Unitree Dexterous <br class="br-mobile br-tablet" /> Hands
      </h2>
      <span class="subtitle-3"> Human-Like Grasping</span>
      <p class="paragraph-1">
        The Dex3-1 (3-fingered) and Dex5-1 (5-fingered) hands are high-DOF
        end-effectors that enable humanoid and mobile robots to perform
        human-like manipulation.
      </p>
    </div>
    <div class="details">
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1">Dexterity</p>
        </div>
        <span class="paragraph-1">
          They are capable of complex grasping, fine manipulation, and tool use.</span
        >
      </div>
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1">Sensing</p>
        </div>
        <span class="paragraph-1">
          The Dex3-1 offers optional tactile sensor arrays for sensitive and
          reliable interaction.</span
        >
      </div>
      <div>
        <div class="title">
          <strong></strong>
          <p class="paragraph-1">Control</p>
        </div>
        <span class="paragraph-1">
          Force-position hybrid control ensures sensitive and reliable
          operation, crucial for handling delicate objects.
        </span>
      </div>
    </div>

    <img
      src="/videos/manipulators/hands.gif"
      alt="Unitree Dexterous Hands"
      class="shot"
      loading="lazy"
      fetchpriority="high"
    />
  </section>

  <section id="tech-section">
    <!-- <Picture src={specs} alt={"Technical specifications"} /> -->

    <div class="table">
      <div class="head">
        <div class="line-element big-desktop short-mobile">
          <div></div>
          <span> Manipulators and Hands Technical Specifications</span>
          <div></div>
        </div>
        <h2 class="h1">Technical Specifications</h2>
      </div>

      <table class="robot-spec-table">
        <thead>
          <tr>
            <th>Characteristic</th>
            <th>Z1 PRO Manipulator</th>
            <th>Dex3-1/Dex5-1 Hands</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Weight (with battery)</td>
            <td>18kg</td>
            <td>Highly portable for a wheeled-legged robot.</td>
          </tr>
          <tr>
            <td>Payload (Max)</td>
            <td>8kg (MAX ~ 12kg)</td>
            <td>Suitable for various sensors and payloads.</td>
          </tr>
          <tr>
            <td>Speed Range</td>
            <td>0 - 2.5 m/s</td>
            <td>Efficient wheeled movement and dynamic legged motion.</td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>1.5 - 3h (15000mAh battery)</td>
            <td>Varies based on mode of locomotion and load.</td>
          </tr>
          <tr>
            <td>Max Joint Torque</td>
            <td>45 N.m</td>
            <td>Ensures responsive and stable movement.</td>
          </tr>
          <tr>
            <td>Obstacle Crossing</td>
            <td>Up to 70cm</td>
            <td>Superior capability for overcoming large obstacles.</td>
          </tr>
          <tr>
            <td>Sensing</td>
            <td>3D LiDAR + HD Wide-angle Camera</td>
            <td>Advanced environmental awareness.</td>
          </tr>
          <tr>
            <td>Computing</td>
            <td>8-core CPU, Orin NX optional</td>
            <td>Powerful core for AI and development.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>

  <section class="cards-section">
    <h2 class="h2">
      Complete Your <br class="br-mobile br-tablet" /> Robotic System
    </h2>
    <div class="cards">
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>

        <!-- <h3>z1</h3> -->
        <span> Unitree Mobile Platforms </span>
        <p>
          The Z1 and Dexterous Hands are designed to integrate seamlessly with
          the H1, G1, B2, and Go2 series.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_1}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>Battery</h3> -->
        <span> Unitree L2 4D LiDAR</span>
        <p>
          Enhance the perception of your mobile platform to ensure precise
          manipulation in dynamic environments.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_2}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>SDK</h3> -->
        <span>Unitree SDK</span>
        <p>
          Utilize the official development kit for custom programming and
          algorithm testing.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_3}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
    </div>
  </section>
  <section class="book-section">
    <div class="book-wrapper">
      <div class="first">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <h4 class="title">
          Achieve Precision and <br />Dexterity in Your <br
            class="br-mobile br-tablet"
          /> Automation
        </h4>
        <p class="paragraph-1">
          Contact the AIROBOTS team to discuss integrating the Unitree
          Manipulators and Dexterous Hands into your existing or planned Unitree
          platform.
        </p>
        <div class="buttons">
          <ButtonPrimary
            content="Request a quote"
            type="a"
            href={pages.product.path}
          />
          <ButtonSecondary content="Contact Sales Team" />
        </div>
      </div>
      <div class="second">
        <Picture
          class="book-bck"
          src={book_bck}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
        <Picture
          class="book-shot"
          src={newPic}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss">
  .content {
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    gap: calc(var(--fs) * 1.5);
    place-items: start;
    & > * {
      text-align: left;
    }
    .paragraph-1 {
      width: calc(var(--fs) * 35.125);
      color: #767676;
    }
  }
  #hero-section {
    display: flex;
    justify-content: space-between;
    padding: calc(var(--top-space) * 0.65) calc(var(--hor-padding)) 0;
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      pointer-events: none;
      z-index: -1;
    }
  }

  .right-img-section {
    display: grid;
    place-content: center;
    padding: 0 calc(var(--hor-padding));
    justify-content: space-between;
    .shot {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0%, -50%);
      height: 100vh;
      width: auto;
      object-fit: cover;
      z-index: -1;
    }
    &.hand {
      min-height: 80vh;
      .shot {
        height: calc(var(--fs) * 47.5);
        transform: translate(0%, -40%);
      }
    }
    .details {
      margin-top: calc(var(--fs) * 3);
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: calc(var(--fs) * 1.94);

      div {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: calc(var(--fs) * 19.125);

        & > * {
          text-align: left;
          width: initial;
        }
        .title {
          margin-bottom: calc(var(--fs) * 1.69);
          display: flex;
          flex-direction: row;
          align-items: center;
          & > * {
            display: block;
          }
          strong {
            width: calc(var(--fs) * 0.125);
            height: calc(var(--fs) * 1.3125);
            background: var(--MAIN-BLUE, #6289ff);
            margin-right: calc(var(--fs) * 0.625);
          }
          p {
            color: #fff;
            text-transform: capitalize;
          }
        }
        span {
          color: #767676;
        }
      }
    }
  }

  #d1-section {
    display: grid;
    grid-template-columns: max-content 1fr;
    min-height: unset;
    margin-top: calc(var(--top-space) * 0.5);
    gap: calc(var(--fs) * 5.19);
    align-items: center;

    padding: 0 calc(var(--hor-padding));
    justify-content: space-between;

    & > * {
      grid-row: 1/2;
    }
    .content {
      grid-column: 2 / 3;
      .paragraph-1 {
        width: 100%;
      }
    }
    picture {
      width: calc(var(--fs) * 51.375);
      height: calc(var(--fs) * 44.5);
      grid-column: 1 / 2;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .book-section .book-wrapper .second {
    .book-shot {
      transform: translate(-50%, 10%);
      width: calc(var(--fs) * 58);
      height: calc(var(--fs) * 58);
    }
  }

  @media (orientation: portrait) and (min-aspect-ratio: 0.625) {
    .content {
      gap: calc(var(--fs) * 1);
      place-items: center;
      position: relative;
      z-index: 1;
      & > * {
        text-align: center;
      }
      .paragraph-1 {
        width: 90% !important;
        color: #767676;
      }
    }
    #hero-section {
      display: flex;
      justify-content: space-between;
      padding: calc(var(--top-space) * 2) calc(var(--hor-padding) * 2.5) 0;
      background-color: #fff;
      img {
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-65%, 6.5%);
        width: min(135vh, 200vw);
        height: auto;
        object-fit: cover;
        max-width: unset;
        z-index: 1;
      }
      .content {
        place-items: start !important;
        & > * {
          text-align: left !important;
        }
      }
    }

    .right-img-section {
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      padding: 0 calc(var(--hor-padding) * 2);
      justify-content: space-between;
      min-height: unset;
      margin-top: calc(var(--fs) * 5.875);

      .shot {
        position: static;
        right: unset;
        top: unset;
        transform: none;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      &.manipulator {
        .shot {
          width: 120%;
          max-width: unset;
        }
      }
      &.hand {
        min-height: 80vh;
        .shot {
          height: calc(var(--fs) * 27.31);
          width: calc(var(--fs) * 36.375);
          transform: none;
          justify-self: center;
        }
      }

      .details {
        margin-top: calc(var(--fs) * 5);
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: max-content;
        gap: 0;
        justify-content: space-between;
        grid-row: 3 / 4;

        div {
          width: calc(var(--fs) * 14.125);
          .title {
            margin-bottom: calc(var(--fs) * 1.13);
            strong {
              margin-right: calc(var(--fs) * 0.69);
            }
          }
        }
      }
    }

    #d1-section {
      grid-auto-flow: row;
      grid-template-columns: unset;
      grid-auto-rows: max-content;
      padding: 0 calc(var(--hor-padding) * 2);
      justify-content: space-between;
      min-height: unset;
      margin-top: calc(var(--fs) * 5.875);

      gap: calc(var(--fs) * 5.19);
      align-items: center;
      padding: 0 calc(var(--hor-padding));
      justify-content: space-between;

      & > * {
        grid-row: auto !important;
        grid-column: 1 / 2 !important;
      }
      .content {
        grid-column: 2 / 3;
      }
      picture {
        width: calc(var(--fs) * 44.625);
        height: calc(var(--fs) * 38.6875);
        grid-column: 1 / 2;
        justify-self: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .book-section .book-wrapper .second {
      .book-shot {
        transform: translate(-50%, 10%);
        width: calc(var(--fs) * 49);
        height: calc(var(--fs) * 49);
      }
    }
  }

  @media (orientation: portrait) and (max-aspect-ratio: 0.624) {
    .content {
      gap: calc(var(--fs) * 1);
      place-items: center;
      position: relative;
      z-index: 1;
      & > * {
        text-align: center;
      }
      .paragraph-1 {
        width: 90% !important;
        color: #cbcbcb;
      }
    }
    #hero-section {
      padding: calc(var(--top-space) * 2) 0;
      background-color: #fff;
      img {
        top: unset;
        bottom: 0;
        left: 50%;
        transform: translate(-65%, 0%);
        width: 200vw;
        height: auto;
        object-fit: cover;
        max-width: unset;
        z-index: 1;
      }
      .content {
        .paragraph-1 {
          width: 85% !important;
        }
      }
    }

    .right-img-section {
      grid-auto-flow: row;
      grid-auto-rows: max-content;
      padding: 0;
      justify-content: space-between;
      min-height: unset;
      margin-top: calc(var(--fs) * 5.875);

      .shot {
        position: static;
        right: unset;
        top: unset;
        transform: none;
        height: auto;
        width: 100%;
        object-fit: cover;
      }
      &.manipulator {
        .shot {
          width: 120%;
          max-width: unset;
        }
      }
      &.hand {
        min-height: 80vh;
        .shot {
          height: calc(var(--fs) * 27.31);
          width: calc(var(--fs) * 36.375);
          transform: none;
          justify-self: center;
        }
      }

      .details {
        margin-top: calc(var(--fs) * 5);
        gap: calc(var(--fs) * 2.69);
        grid-row: 3 / 4;
        width: 100%;
        overflow-x: auto;
        padding: 0 calc(var(--hor-padding));
        div {
          .title {
            margin-bottom: calc(var(--fs) * 1.5);
            strong {
              margin-right: calc(var(--fs) * 0.69);
            }
          }
        }
      }
    }

    #d1-section {
      grid-auto-flow: row;
      grid-template-columns: unset;
      grid-auto-rows: max-content;
      padding: 0 calc(var(--hor-padding) * 2);
      justify-content: space-between;
      min-height: unset;
      margin-top: calc(var(--fs) * 5.875);

      gap: calc(var(--fs) * 5.19);
      align-items: center;
      padding: 0 calc(var(--hor-padding));
      justify-content: space-between;

      & > * {
        grid-row: auto !important;
        grid-column: 1 / 2 !important;
      }
      .content {
        grid-column: 2 / 3;
      }
      picture {
        width: 100%;
        height: calc(var(--fs) * 22);
        grid-column: 1 / 2;
        justify-self: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .book-section .book-wrapper .second {
      .book-shot {
        transform: translate(-50%, 10%);
        width: calc(var(--fs) * 28);
        max-width: unset;
        height: calc(var(--fs) * 28);
      }
    }
  }
</style>
