---
import Layout from "@layouts/Layout.astro";
import { Picture } from "astro:assets";
import newPic from "@assets/perception/model.png";
import openPlatform from "@assets/go2/open_platform.png";

import { Image } from "astro:assets";
import blue_shade from "@assets/blue_shade.png";
import "@styles/cards_section.scss";
import ButtonPrimary from "@components/ButtonPrimary";
import ButtonSecondary from "@components/ButtonSecondary";
import enhanced from "@assets/go2/go2.png";
import "@styles/book_section.scss";
import book_bck from "@assets/book_bck.png";

import "@styles/shot_section.scss";
import "@styles/new_section.scss";
import "@styles/simple_section.scss";
import "@styles/tech_section.scss";
import { pages } from "@/scripts/pages";
---

<Layout>
  <section id="hero-section">
    <div class="hero-shot">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/perception/4d-lidar.mp4" type="video/mp4" />
      </video>
    </div>

    <div class="content">
      <h1 class="h1">Unitree L2-4D-Lidar</h1>
      <p class="subtitle-3">Transformative Newborn</p>
    </div>
    <div class="sub-content">
      <p class="h1 intro-anim">
        The Bionic 4D LiDAR <br /> Redefining Robot <br
          class="br-mobile br-tablet"
        /> Perception
      </p>
      <span class="paragraph-1 intro-anim">
        The Unitree L2 delivers omnidirectional, ultra-wide-angle scanning with
        minimal blind spots, providing high-precision spatial data essential for
        advanced SLAM and autonomous navigation.
      </span>

      <ButtonPrimary
        content="buy now"
        type="a"
        href={pages.product.path}
        className="intro-anim"
      />
    </div>
  </section>
  <section id="new-section">
    <div class="content">
      <!-- <div class="line-element">
        <div></div>
        <span> Wheeled Legged Robot Dog</span>
        <div></div>
      </div> -->
      <!-- <h2 class="h1">Go Beyond The <br class="br-mobile" /> Limits</h2> -->
      <!-- <p>Transformative Newborn</p> -->
    </div>
    <div class="shot">
      <Picture
        src={newPic}
        alt={"L2-4D-Lidar New Model "}
        fetchpriority={"high"}
        quality={"max"}
      />
      <div class="detail">
        <p>360°×96° Ultra-wide-angle</p>
        <span>Super-Wide-Angle 3D LiDAR </span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>0.05m</p>
        <span>Near Blind Spot: </span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>64,000 points/s</p>
        <span> Super-Wide-Angle 3D LiDAR</span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>± 2.0cm</p>
        <span> Accuracy</span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
    </div>

    <Image class={"blue-shade"} src={blue_shade} alt={""} format="webp" />
  </section>
  <section class="simple-section full-desktop full-tablet">
    <h2 class="h1">
      Omnidirectional <br class="br-mobile" /> Ultra-<br
        class="br-tablet"
      />wide-angle <br class="br-desktop br-mobile" /> Scanning
    </h2>
    <p class="paragraph-1">
      The L2 is a revolutionary bionic 4D laser radar designed to accelerate the
      era of mobile intelligence. It achieves a superior field of view with 360°
      circumferential scanning and 96° vertical scanning, utilizing
      non-repetitive scanning technology to generate high-precision,
      high-density point cloud data. This capability enables photograph-level
      scanning effects for detailed environment mapping.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/perception/1.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-desktop full-tablet align-end-desktop">
    <h2 class="h1">
      Robust Performance in <br /> Extreme Conditions
    </h2>
    <p class="paragraph-1">
      Engineered for reliability, the L2 features Anti-glare Capability of over
      100Klux. This means it can effectively resist the interference of both
      indoor ambient light and outdoor strong sunlight, achieving stable ranging
      and high-precision mapping even under bright outdoor conditions. Its
      compact size and low weight make it easy to integrate into any mobile
      platform.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/perception/2.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-desktop full-tablet">
    <h2 class="h1">
      Essential for SLAM and <br /> Autonomous <br class="br-mobile" /> Navigation
    </h2>
    <p class="paragraph-1">
      The L2 provides a complete open-source SLAM solution, crucial for robot
      positioning and autonomous navigation. Its minimal near blind spot of
      0.05m and high measurement accuracy of ± 2.0cm ensure that robots can
      quickly and accurately obtain the 3D structural information of their
      environment, expanding functions such as whole-house cleaning,
      organization, and complex industrial logistics.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/perception/3.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-desktop full-tablet align-end-desktop">
    <h2 class="h1">4D Data Output</h2>
    <p class="paragraph-1">
      The L2 outputs 4D data, which includes 3D position data plus 1D grayscale
      information. This additional dimension enriches the point cloud, providing
      valuable context for object recognition and material differentiation,
      further enhancing the robot's ability to understand and interact with its
      environment.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/perception/4.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section id="tech-section">
    <!-- <Picture src={specs} alt={"Technical specifications"} /> -->

    <div class="table">
      <div class="head">
        <div class="line-element big-desktop">
          <div></div>
          <span> L2</span>
          <div></div>
        </div>
        <h2 class="h1">Technical Specifications</h2>
      </div>

      <table class="robot-spec-table">
        <thead>
          <tr>
            <th>Characteristic</th>
            <th>L2 Model</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Weight (with battery)</td>
            <td>18kg</td>
            <td>Highly portable for a wheeled-legged robot.</td>
          </tr>
          <tr>
            <td>Payload (Max)</td>
            <td>8kg (MAX ~ 12kg)</td>
            <td>Suitable for various sensors and payloads.</td>
          </tr>
          <tr>
            <td>Speed Range</td>
            <td>0 - 2.5 m/s</td>
            <td>Efficient wheeled movement and dynamic legged motion.</td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>1.5 - 3h (15000mAh battery)</td>
            <td>Varies based on mode of locomotion and load.</td>
          </tr>
          <tr>
            <td>Max Joint Torque</td>
            <td>45 N.m</td>
            <td>Ensures responsive and stable movement.</td>
          </tr>
          <tr>
            <td>Obstacle Crossing</td>
            <td>Up to 70cm</td>
            <td>Superior capability for overcoming large obstacles.</td>
          </tr>
          <tr>
            <td>Sensing</td>
            <td>3D LiDAR + HD Wide-angle Camera</td>
            <td>Advanced environmental awareness.</td>
          </tr>
          <tr>
            <td>Computing</td>
            <td>8-core CPU, Orin NX optional</td>
            <td>Powerful core for AI and development.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="cards-section">
    <h2 class="h2">Compatible Robotics <br class="br-tablet" /> Platforms</h2>
    <div class="cards">
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>

        <!-- <h3>z1</h3> -->
        <span> Unitree B2/A2 </span>
        <p>Integrate the L2 for superior industrial mapping and navigation.</p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_1}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>Battery</h3> -->
        <span> Unitree Go2 </span>
        <p>
          Enhance the Go2's standard L1 with the more powerful L2 for advanced
          research.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_2}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>SDK</h3> -->
        <span> Unitree SDK </span>
        <p>
          Utilize the official development kit to integrate L2 data into custom
          SLAM and perception algorithms.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_3}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
    </div>
  </section>
  <section class="book-section">
    <div class="book-wrapper">
      <div class="first">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <h4 class="title">Elevate Your Robot's <br /> Perception</h4>
        <p class="paragraph-1">
          Contact the AIROBOTS team to discuss integrating the Unitree L2 4D
          LiDAR into your existing or planned robotics platform.
        </p>
        <div class="buttons">
          <ButtonPrimary
            content="Request a quote"
            type="a"
            href={pages.product.path}
          />
          <ButtonSecondary content="Contact Technical Support" />
        </div>
      </div>
      <div class="second">
        <Picture
          class="book-bck"
          src={book_bck}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
        <Picture
          class="book-shot"
          src={newPic}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  #hero-section {
    padding-top: calc(var(--top-space) * 0.5);
    padding-bottom: calc(var(--top-space) * 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    .hero-shot {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      }
      video,
      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
      }
    }
    .content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      p {
        margin-top: calc(var(--fs) * 1.25);
      }
    }
    .sub-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: calc(var(--fs) * 1.75);
      & > * {
        margin: 0 !important;
        text-align: center !important;
      }
      .paragraph-1 {
        width: calc(var(--fs) * 42.5);
      }
      .primary-btn {
        margin-top: calc(var(--fs) * 3.12);
      }
    }
  }

  #new-section {
    .shot {
      picture {
        width: calc(var(--fs) * 42);
        height: calc(var(--fs) * 42);
      }
      .detail {
        &:nth-of-type(1) {
          transform: translate(
            calc(var(--fs) * 7.5 - 100%),
            calc(var(--fs) * -2)
          );
        }
        &:nth-of-type(2) {
          transform: translate(
            calc(var(--fs) * 5 + 100%),
            calc(var(--fs) * -2)
          );
        }
        &:nth-of-type(3) {
          transform: translate(
            calc(var(--fs) * -2.5 - 100%),
            calc(var(--fs) * -10)
          );
        }
        &:nth-of-type(4) {
          transform: translate(
            calc(var(--fs) * 5 + 100%),
            calc(var(--fs) * -10)
          );
        }
      }
    }
  }

  // .shot-section {
  //   display: flex;
  //   align-items: flex-end;
  //   height: 100vh;
  //   padding: 0 calc(var(--hor-padding)) calc(var(--top-space) * 0.25);
  //   overflow: hidden;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: -1%;
  //     left: 0;
  //     width: 100%;
  //     height: 50%;
  //     pointer-events: none;
  //     background: linear-gradient(#00000000, #000);
  //   }
  //   .media {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     z-index: -1;
  //   }
  //   .content {
  //     display: grid;
  //     grid-auto-flow: row;
  //     gap: calc(var(--fs) * 1);
  //     grid-auto-rows: max-content;
  //     width: 50vw;
  //     position: relative;
  //     z-index: 2;
  //     & > * {
  //       text-align: left;
  //     }
  //     p {
  //       width: 90%;
  //     }
  //   }
  //   &:nth-of-type(odd) {
  //     justify-content: flex-end;
  //   }
  //   &.last {
  //     justify-content: center !important;

  //     .content {
  //       & > * {
  //         text-align: center;
  //       }
  //     }
  //   }
  // }
  #media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
    padding: calc(var(--top-space) * 0.5) 0 0;
    video {
      width: calc(var(--fs) * 72.1875);
      height: calc(var(--fs) * 40.625);
      object-fit: cover;

      border-radius: calc(var(--fs) * 3.125);
    }
    h2 {
      margin-top: calc(var(--fs) * 3.12);
    }
    .line-element {
      margin-top: calc(var(--fs) * 1.5);
      span {
        text-transform: lowercase;
      }
    }
  }

  // #tech-section {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   min-height: unset;
  //   padding-top: calc(var(--top-space) * 0.5);
  //   picture {
  //     width: calc(var(--fs) * 82.5);
  //     height: calc(var(--fs) * 44);
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }

  .book-section {
    .book-wrapper {
      .second {
        .book-shot {
          width: calc(var(--fs) * 47);
          height: calc(var(--fs) * 47);
          object-fit: cover;
          transform: translate(-50%, 0%);
        }
      }
    }
  }

  @media (orientation: portrait) {
    #hero-section {
      padding-top: calc(var(--top-space) * 2);
      padding-bottom: calc(var(--top-space) * 1);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100svh;
      min-height: unset;
      .hero-shot img {
        object-position: 60% 0%;
      }
      & > * {
        z-index: 2;
      }
      .content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-top: calc(var(--fs) * 0.75);
        }
      }
      .sub-content {
        width: 100%;
        .subtitle-2 {
          margin-top: calc(var(--fs) * 1.19);
        }
        .paragraph-1 {
          padding: 0 calc(var(--hor-padding) * 4);
          margin-top: calc(var(--fs) * 0.75);
          width: 100%;
        }
        .primary-btn {
          margin-top: calc(var(--fs) * 2.25);
        }
      }
    }

    #new-section {
      .shot {
        picture {
          width: calc(var(--fs) * 22.5);
          height: calc(var(--fs) * 22.5);
        }
      }
    }

    // .shot-section {
    //   height: initial;
    //   min-height: unset;
    //   padding: 0;
    //   padding-bottom: calc(var(--fs) * 5);
    //   overflow: hidden;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: flex-start !important;
    //   &::after {
    //     display: none;
    //   }
    //   .media {
    //     position: static;
    //     top: unset;
    //     left: unset;
    //     width: 100%;
    //     height: calc(var(--fs) * 19.375);
    //     object-fit: cover;
    //     object-position: top center;
    //     z-index: -1;
    //   }
    //   .content {
    //     gap: calc(var(--fs) * 1.25);
    //     width: 100%;
    //     padding: 0 calc(var(--hor-padding));
    //     margin-top: calc(var(--fs) * -3.5);
    //     position: relative;
    //     &::after {
    //       content: "";
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       transform: translateY(-25%);
    //       width: 100%;
    //       height: calc(var(--fs) * 5);
    //       pointer-events: none;
    //       z-index: 1;
    //       background: linear-gradient(#00000000, #000);
    //     }
    //     & > * {
    //       text-align: left !important;
    //       z-index: 2;
    //       position: relative;
    //     }
    //     h2 {
    //       font-weight: 600;
    //     }
    //     p {
    //       width: 95%;
    //     }
    //   }

    //   &.last {
    //     justify-content: flex-start !important;
    //   }
    // }

    #media-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: unset;
      padding: calc(var(--top-space) * 0.25) calc(var(--hor-padding)) 0;
      video {
        width: 100%;
        height: calc(var(--fs) * 14.56);
        border-radius: calc(var(--fs) * 1.875);
      }
      h2 {
        margin-top: calc(var(--fs) * 1.22);
        font-weight: 600;
      }
    }

    .book-section {
      .book-wrapper {
        .second {
          .book-shot {
            width: calc(var(--fs) * 25);
            height: calc(var(--fs) * 25);
          }
        }
      }
    }

    @media (min-aspect-ratio: 0.625) {
      #hero-section {
        padding-top: calc(var(--top-space) * 2);
        padding-bottom: calc(var(--top-space) * 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100svh;
        min-height: unset;
        .hero-shot img {
          object-position: 70% 0%;
        }
        .content {
          p {
            margin-top: calc(var(--fs) * 1.25);
          }
        }
        .sub-content {
          width: 100%;
          .h1 {
            font-size: calc(var(--fs) * 3.5) !important;
          }
          .subtitle-2 {
            margin-top: calc(var(--fs) * 1.19);
          }
          .paragraph-1 {
            padding: 0 calc(var(--hor-padding) * 6);
            margin-top: calc(var(--fs) * 0.75);
          }
          .primary-btn {
            margin-top: calc(var(--fs) * 2.25);
          }
        }
      }

      #new-section {
        .shot {
          picture {
            width: calc(var(--fs) * 40);
            height: calc(var(--fs) * 40);
          }
        }
      }

      // .shot-section {
      //   height: initial;
      //   min-height: unset;
      //   padding: 0;
      //   padding-bottom: calc(var(--fs) * 5);
      //   overflow: hidden;
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: flex-start !important;
      //   &::after {
      //     display: none;
      //   }
      //   .media {
      //     position: static;
      //     top: unset;
      //     left: unset;
      //     width: 100%;
      //     height: calc(var(--fs) * 35);
      //     object-fit: cover;
      //     object-position: top center;
      //     z-index: -1;
      //   }
      //   .content {
      //     gap: calc(var(--fs) * 1.25);
      //     width: 100%;
      //     padding: 0 calc(var(--hor-padding));
      //     margin-top: calc(var(--fs) * -3.5);
      //     position: relative;
      //     &::after {
      //       content: "";
      //       position: absolute;
      //       top: 0;
      //       left: 0;
      //       transform: translateY(-75%);
      //       width: 100%;
      //       height: calc(var(--fs) * 15);
      //       pointer-events: none;
      //       z-index: 1;
      //       background: linear-gradient(#00000000, #000);
      //     }
      //     & > * {
      //       text-align: left !important;
      //       z-index: 2;
      //       position: relative;
      //     }
      //     h2 {
      //       font-weight: 600;
      //     }
      //     p {
      //       width: 95%;
      //     }
      //   }

      //   &.last {
      //     justify-content: flex-start !important;
      //   }
      // }

      #media-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: unset;
        padding: calc(var(--top-space) * 0.25) calc(var(--hor-padding)) 0;
        video {
          width: 100%;
          height: calc(var(--fs) * 28.4375);
          border-radius: calc(var(--fs) * 1.875);
        }
        h2 {
          margin-top: calc(var(--fs) * 1.22);
          font-weight: 600;
        }
      }

      // #tech-section {
      //   padding-top: calc(var(--top-space) * 2);
      //   picture {
      //     width: calc(var(--fs) * 82.5 * 0.85);
      //     height: calc(var(--fs) * 44 * 0.85);
      //   }
      // }

      .book-section {
        .book-wrapper {
          .first {
            .paragraph-1 {
              width: 100%;
            }
          }
          .second {
            .book-shot {
              width: calc(var(--fs) * 36);
              height: calc(var(--fs) * 36);
            }
          }
        }
      }
    }
  }
</style>
