---
import Layout from "@layouts/Layout.astro";
import heroImg from "@assets/b2/hero.png";
import { Picture } from "astro:assets";
import newPic from "@assets/b2/b2.png";
import openPlatform from "@assets/go2/open_platform.png";

import { Image } from "astro:assets";
import blue_shade from "@assets/blue_shade.png";
import "@styles/cards_section.scss";
import ButtonPrimary from "@components/ButtonPrimary";
import ButtonSecondary from "@components/ButtonSecondary";
import enhanced from "@assets/go2/go2.png";
import "@styles/book_section.scss";
import book_bck from "@assets/book_bck.png";

import "@styles/shot_section.scss";
import "@styles/new_section.scss";
import "@styles/simple_section.scss";
import "@styles/tech_section.scss";
import { pages } from "@/scripts/pages";
---

<Layout>
  <section id="hero-section">
    <div class="hero-shot">
      <Picture src={heroImg} alt={"Unitree B2"} />
    </div>

    <div class="content">
      <h1 class="h1">Unitree B2</h1>
      <p class="subtitle-3">Transformative Newborn</p>
    </div>
    <div class="sub-content">
      <p class="h1 intro-anim">
        The World's Most <br class="br-mobile" /> Powerful <br
          class="br-tablet"
        /> and Fastest <br class="br-desktop" /> Industrial <br
          class="br-tablet"
        /> Quadruped <br class="br-mobile" /> Robot
      </p>
      <span class="paragraph-1 intro-anim">
        Engineered for the toughest environments, the Unitree B2 sets new global
        standards for load capacity, speed, endurance, and ingress protection.
      </span>

      <!-- <ButtonPrimary content="Watch Video" /> -->
    </div>
  </section>
  <section id="new-section">
    <div class="content">
      <!-- <div class="line-element">
        <div></div>
        <span> Wheeled Legged Robot Dog</span>
        <div></div>
      </div> -->
      <h2 class="h1 text-center">
        Go Beyond The <br class="br-mobile" /> Limits
      </h2>
      <!-- <p>Transformative Newborn</p> -->
    </div>
    <div class="shot">
      <Picture
        src={newPic}
        alt={"B2 New Model "}
        fetchpriority={"high"}
        quality={"max"}
      />
      <div class="detail">
        <p>6 m/s</p>
        <span>Max Speed. </span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>IP67 Ingress <br /> Protection</p>
        <span>Protection. </span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>40 kg</p>
        <span> Max Walking Load.</span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
      <div class="detail">
        <p>360 N.m</p>
        <span> Max Joint Torque.</span>
        <img src="/images/indicator.svg" alt="" loading="lazy" />
      </div>
    </div>

    <Image class={"blue-shade"} src={blue_shade} alt={""} format="webp" />
  </section>
  <section class="simple-section full-desktop full-tablet">
    <h2 class="h1">
      Unmatched Load and <br /> Endurance
    </h2>
    <p class="paragraph-1">
      The B2 is built for heavy-duty industrial tasks. It boasts a maximum
      standing load of 120 kg and can continuously walk with a payload of over
      40 kg. Its ultra-large capacity 2250Wh battery provides an
      industry-leading endurance of over 4 hours with a 20kg load, ensuring it
      can complete long-duration, critical missions without interruption.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/b2/0.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-tablet">
    <h2 class="h1">
      Extreme Mobility and <br class="br-mobile br-tablet" /> All-<br
        class="br-desktop"
      />Terrain Adaptation
    </h2>
    <p class="paragraph-1">
      With a maximum joint torque of 360 N.m, the B2 achieves extreme
      performance and stability. It can effortlessly climb stairs of 20-25 cm
      continuously, tackle slopes greater than 45°, and even jump a distance of
      over 1.6 meters. This level of dynamic capability ensures stable travel on
      slippery, uneven, or complex industrial terrains.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/b2/1.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-tablet">
    <h2 class="h1">
      Industrial-Grade <br class="br-mobile br-tablet" /> Sensing and <br
        class="br-desktop"
      /> Protection
    </h2>
    <p class="paragraph-1">
      With a maximum joint torque of 360 N.m, the B2 achieves extreme
      performance and stability. It can effortlessly climb stairs of 20-25 cm
      continuously, tackle slopes greater than 45°, and even jump a distance of
      over 1.6 meters. This level of dynamic capability ensures stable travel on
      slippery, uneven, or complex industrial terrains.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/b2/2.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section class="simple-section full-tablet">
    <h2 class="h1">
      Flexibility for Future <br /> Applications
    </h2>
    <p class="paragraph-1">
      The B2 is designed as a versatile platform, offering optional features
      like Wheeled-Foot Legs for high-speed transit and autonomous charging
      solutions. Its computing core includes Intel Core i5/i7 options, with the
      ability to expand with up to three Jetson Orin NX devices, supporting
      advanced AI and custom industrial applications.
    </p>
    <div class="media-wrapper">
      <video playsinline muted loop preload="metadata" class="media">
        <source src="/videos/b2/3.mp4" type="video/mp4" />
      </video>
    </div>
  </section>
  <section id="tech-section">
    <!-- <Picture src={specs} alt={"Technical specifications"} /> -->

    <div class="table">
      <div class="head">
        <div class="line-element big-desktop">
          <div></div>
          <span> B2</span>
          <div></div>
        </div>
        <h2 class="h1">Technical Specifications</h2>
      </div>

      <table class="robot-spec-table">
        <thead>
          <tr>
            <th>Characteristic</th>
            <th>Value</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Weight (with battery)</td>
            <td>18kg</td>
            <td>Highly portable for a wheeled-legged robot.</td>
          </tr>
          <tr>
            <td>Payload (Max)</td>
            <td>8kg (MAX ~ 12kg)</td>
            <td>Suitable for various sensors and payloads.</td>
          </tr>
          <tr>
            <td>Speed Range</td>
            <td>0 - 2.5 m/s</td>
            <td>Efficient wheeled movement and dynamic legged motion.</td>
          </tr>
          <tr>
            <td>Endurance</td>
            <td>1.5 - 3h (15000mAh battery)</td>
            <td>Varies based on mode of locomotion and load.</td>
          </tr>
          <tr>
            <td>Max Joint Torque</td>
            <td>45 N.m</td>
            <td>Ensures responsive and stable movement.</td>
          </tr>
          <tr>
            <td>Obstacle Crossing</td>
            <td>Up to 70cm</td>
            <td>Superior capability for overcoming large obstacles.</td>
          </tr>
          <tr>
            <td>Sensing</td>
            <td>3D LiDAR + HD Wide-angle Camera</td>
            <td>Advanced environmental awareness.</td>
          </tr>
          <tr>
            <td>Computing</td>
            <td>8-core CPU, Orin NX optional</td>
            <td>Powerful core for AI and development.</td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>
  <section class="cards-section">
    <h2 class="h2">Optimize Your B2 for <br /> Critical Missions</h2>
    <div class="cards">
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>

        <!-- <h3>z1</h3> -->
        <span> Wheeled-Foot Legs </span>
        <p>
          Convert your B2 for high-speed, long-distance travel on paved
          surfaces.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_1}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>Battery</h3> -->
        <span> Autonomous Charging Dock. </span>
        <p>Enable 24/7 autonomous operation with automated recharging.</p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_2}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
      <div class="card no-shot with-border">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <!-- <h3>SDK</h3> -->
        <span> Specialized Payloads </span>
        <p>
          Integrate thermal cameras, gas sensors, or other custom equipment for
          specific inspection tasks.
        </p>
        <div class="buttons">
          <ButtonPrimary content="Add to cart" />
          <ButtonSecondary content="Learn more" />
        </div>
        <!-- <Picture
          class="shot"
          src={card_3}
          alt="Robot"
          fetchpriority={"high"}
          quality={"max"}
        /> -->
      </div>
    </div>
  </section>
  <section class="book-section">
    <div class="book-wrapper">
      <div class="first">
        <strong class="shade"></strong>
        <strong class="shade"></strong>
        <h4 class="title">
          Ready to Deploy the <br /> Ultimate Industrial <br
            class="br-mobile br-tablet"
          /> Robot?
        </h4>
        <p class="paragraph-1">
          The Unitree B2 is the definitive solution for industrial automation
          and hazardous environment inspection. Contact AIROBOTS, the exclusive
          distributor in Greece, to discuss deployment and integration.
        </p>
        <div class="buttons">
          <ButtonPrimary
            content="Request a quote"
            type="a"
            href={pages.product.path}
          />
          <ButtonSecondary content="Contact Sales Team" />
        </div>
      </div>
      <div class="second">
        <Picture
          class="book-bck"
          src={book_bck}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
        <Picture
          class="book-shot"
          src={newPic}
          alt=""
          fetchpriority={"high"}
          quality={"max"}
        />
      </div>
    </div>
  </section>
</Layout>

<style lang="scss" is:global>
  #hero-section {
    padding-top: calc(var(--top-space) * 0.5);
    padding-bottom: calc(var(--top-space) * 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 30%;
      background: linear-gradient(#000, #00000000);
      opacity: 0.5;
      z-index: 1;
      pointer-events: none;
    }
    .hero-shot {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      // &::after {
      //   content: "";
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   width: 100%;
      //   height: 100%;
      //   pointer-events: none;
      //   background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000 100%);
      // }
      picture,
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom center;
      }
    }
    .content {
      position: relative;
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      visibility: hidden;
      p {
        margin-top: calc(var(--fs) * 1.25);
      }
    }
    .sub-content {
      display: flex;
      flex-direction: column;
      align-items: center;
      .h1 {
        text-align: center;
      }
      .paragraph-1 {
        margin-top: calc(var(--fs) * 1);
        width: calc(var(--fs) * 42.5);
      }
      .primary-btn {
        margin-top: calc(var(--fs) * 3.12);
      }
    }
  }

  #new-section {
    .shot {
      picture {
        width: calc(var(--fs) * 48.625);
        height: calc(var(--fs) * 41.0625);
      }
      .detail {
        &:nth-of-type(1) {
          transform: translate(
            calc(var(--fs) * 0 - 100%),
            calc(var(--fs) * -2)
          );
        }
        &:nth-of-type(2) {
          transform: translate(
            calc(var(--fs) * 0 + 100%),
            calc(var(--fs) * -2)
          );
        }
        &:nth-of-type(3) {
          transform: translate(
            calc(var(--fs) * 0 - 100%),
            calc(var(--fs) * -10)
          );
        }
        &:nth-of-type(4) {
          transform: translate(
            calc(var(--fs) * 0 + 100%),
            calc(var(--fs) * -10)
          );
        }
      }
    }
  }

  // .shot-section {
  //   display: flex;
  //   align-items: flex-end;
  //   height: 100vh;
  //   padding: 0 calc(var(--hor-padding)) calc(var(--top-space) * 0.25);
  //   overflow: hidden;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     bottom: -1%;
  //     left: 0;
  //     width: 100%;
  //     height: 50%;
  //     pointer-events: none;
  //     background: linear-gradient(#00000000, #000);
  //   }
  //   .media {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //     z-index: -1;
  //   }
  //   .content {
  //     display: grid;
  //     grid-auto-flow: row;
  //     gap: calc(var(--fs) * 1);
  //     grid-auto-rows: max-content;
  //     width: 50vw;
  //     position: relative;
  //     z-index: 2;
  //     & > * {
  //       text-align: left;
  //     }
  //     p {
  //       width: 90%;
  //     }
  //   }
  //   &:nth-of-type(odd) {
  //     justify-content: flex-end;
  //   }
  //   &.last {
  //     justify-content: center !important;

  //     .content {
  //       & > * {
  //         text-align: center;
  //       }
  //     }
  //   }
  // }
  #media-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: unset;
    padding: calc(var(--top-space) * 0.5) 0 0;
    video {
      width: calc(var(--fs) * 72.1875);
      height: calc(var(--fs) * 40.625);
      object-fit: cover;

      border-radius: calc(var(--fs) * 3.125);
    }
    h2 {
      margin-top: calc(var(--fs) * 3.12);
    }
    .line-element {
      margin-top: calc(var(--fs) * 1.5);
      span {
        text-transform: lowercase;
      }
    }
  }

  // #tech-section {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   min-height: unset;
  //   padding-top: calc(var(--top-space) * 0.5);
  //   picture {
  //     width: calc(var(--fs) * 82.5);
  //     height: calc(var(--fs) * 44);
  //     img {
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }

  .book-section {
    .book-wrapper {
      .second {
        .book-shot {
          width: 110%;
          height: 105%;
          object-fit: cover;
          transform: translate(-50%, 20%);
        }
      }
    }
  }

  @media (orientation: portrait) {
    #hero-section {
      padding-top: calc(var(--top-space) * 2);
      padding-bottom: calc(var(--top-space) * 0.5);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100svh;
      min-height: unset;
      .hero-shot img {
        object-position: 60% 0%;
      }
      & > * {
        z-index: 2;
      }
      .content {
        position: relative;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
          margin-top: calc(var(--fs) * 0.75);
        }
      }
      .sub-content {
        width: 100%;
        .subtitle-2 {
          margin-top: calc(var(--fs) * 1.19);
        }
        .paragraph-1 {
          padding: 0 calc(var(--hor-padding) * 4);
          margin-top: calc(var(--fs) * 0.75);
          width: 100%;
        }
        .primary-btn {
          margin-top: calc(var(--fs) * 2.25);
        }
      }
    }

    #new-section {
      .shot {
        picture {
          width: calc(var(--fs) * 22.5);
          height: calc(var(--fs) * 22.5);
        }
      }
    }

    // .shot-section {
    //   height: initial;
    //   min-height: unset;
    //   padding: 0;
    //   padding-bottom: calc(var(--fs) * 5);
    //   overflow: hidden;
    //   display: flex;
    //   flex-direction: column;
    //   align-items: center;
    //   justify-content: flex-start !important;
    //   &::after {
    //     display: none;
    //   }
    //   .media {
    //     position: static;
    //     top: unset;
    //     left: unset;
    //     width: 100%;
    //     height: calc(var(--fs) * 19.375);
    //     object-fit: cover;
    //     object-position: top center;
    //     z-index: -1;
    //   }
    //   .content {
    //     gap: calc(var(--fs) * 1.25);
    //     width: 100%;
    //     padding: 0 calc(var(--hor-padding));
    //     margin-top: calc(var(--fs) * -3.5);
    //     position: relative;
    //     &::after {
    //       content: "";
    //       position: absolute;
    //       top: 0;
    //       left: 0;
    //       transform: translateY(-25%);
    //       width: 100%;
    //       height: calc(var(--fs) * 5);
    //       pointer-events: none;
    //       z-index: 1;
    //       background: linear-gradient(#00000000, #000);
    //     }
    //     & > * {
    //       text-align: left !important;
    //       z-index: 2;
    //       position: relative;
    //     }
    //     h2 {
    //       font-weight: 600;
    //     }
    //     p {
    //       width: 95%;
    //     }
    //   }

    //   &.last {
    //     justify-content: flex-start !important;
    //   }
    // }

    #media-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: unset;
      padding: calc(var(--top-space) * 0.25) calc(var(--hor-padding)) 0;
      video {
        width: 100%;
        height: calc(var(--fs) * 14.56);
        border-radius: calc(var(--fs) * 1.875);
      }
      h2 {
        margin-top: calc(var(--fs) * 1.22);
        font-weight: 600;
      }
    }

    // #tech-section {
    //   padding-top: calc(var(--top-space) * 0.5);
    //   picture {
    //     width: 120%;
    //     max-width: unset;
    //     height: calc(var(--fs) * 17.18);
    //   }
    // }

    @media (min-aspect-ratio: 0.625) {
      #hero-section {
        padding-top: calc(var(--top-space) * 2);
        padding-bottom: calc(var(--top-space) * 0.5);
        display: flex;
        flex-direction: column;
        align-items: center;

        height: 100svh;
        min-height: unset;
        .hero-shot img {
          object-position: 70% 0%;
        }
        .content {
          p {
            margin-top: calc(var(--fs) * 1.25);
          }
        }
        .sub-content {
          width: 100%;
          .h1 {
            font-size: calc(var(--fs) * 3.5) !important;
          }
          .subtitle-2 {
            margin-top: calc(var(--fs) * 1.19);
          }
          .paragraph-1 {
            padding: 0 calc(var(--hor-padding) * 6);
            margin-top: calc(var(--fs) * 0.75);
          }
          .primary-btn {
            margin-top: calc(var(--fs) * 2.25);
          }
        }
      }

      #new-section {
        .shot {
          picture {
            width: calc(var(--fs) * 40);
            height: calc(var(--fs) * 40);
          }
        }
      }

      // .shot-section {
      //   height: initial;
      //   min-height: unset;
      //   padding: 0;
      //   padding-bottom: calc(var(--fs) * 5);
      //   overflow: hidden;
      //   display: flex;
      //   flex-direction: column;
      //   align-items: center;
      //   justify-content: flex-start !important;
      //   &::after {
      //     display: none;
      //   }
      //   .media {
      //     position: static;
      //     top: unset;
      //     left: unset;
      //     width: 100%;
      //     height: calc(var(--fs) * 35);
      //     object-fit: cover;
      //     object-position: top center;
      //     z-index: -1;
      //   }
      //   .content {
      //     gap: calc(var(--fs) * 1.25);
      //     width: 100%;
      //     padding: 0 calc(var(--hor-padding));
      //     margin-top: calc(var(--fs) * -3.5);
      //     position: relative;
      //     &::after {
      //       content: "";
      //       position: absolute;
      //       top: 0;
      //       left: 0;
      //       transform: translateY(-75%);
      //       width: 100%;
      //       height: calc(var(--fs) * 15);
      //       pointer-events: none;
      //       z-index: 1;
      //       background: linear-gradient(#00000000, #000);
      //     }
      //     & > * {
      //       text-align: left !important;
      //       z-index: 2;
      //       position: relative;
      //     }
      //     h2 {
      //       font-weight: 600;
      //     }
      //     p {
      //       width: 95%;
      //     }
      //   }

      //   &.last {
      //     justify-content: flex-start !important;
      //   }
      // }

      #media-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: unset;
        padding: calc(var(--top-space) * 0.25) calc(var(--hor-padding)) 0;
        video {
          width: 100%;
          height: calc(var(--fs) * 28.4375);
          border-radius: calc(var(--fs) * 1.875);
        }
        h2 {
          margin-top: calc(var(--fs) * 1.22);
          font-weight: 600;
        }
      }

      // #tech-section {
      //   padding-top: calc(var(--top-space) * 2);
      //   picture {
      //     width: calc(var(--fs) * 82.5 * 0.85);
      //     height: calc(var(--fs) * 44 * 0.85);
      //   }
      // }

      .book-section {
        .book-wrapper {
          .first {
            .paragraph-1 {
              width: 100%;
            }
          }
        }
      }
    }
  }
</style>
