---
import Layout from "@layouts/Layout.astro";
import "@styles/legal.scss";
import { pages } from "@scripts/pages";
---

<Layout bodyClasses="legal">
  <section id="hero-legal">
    <h1 class="h1">Cookie Policy</h1>
  </section>
  <section class="content-section">
    <div class="table-contents">
      <span>Table of contents</span>
      <div class="contents-scroller">
        <div class="contents-links">
          <a href={pages.privacy_policy.path} class="">
            <img src="/icons/privacy.svg" alt="" loading="lazy" />
            privacy policy data
          </a>
          <a href={pages.returns_refunds.path}>
            <img src="/icons/returns.svg" alt="" loading="lazy" />
            Returns & Refunds Policy
          </a>
          <a href={pages.terms_conditions.path}>
            <img src="/icons/terms.svg" alt="" loading="lazy" />
            Terms & Conditions
          </a>
          <a href={pages.cookie_policy.path} class="">
            <img src="/icons/cookie.svg" alt="" loading="lazy" />
            Cookie Policy
          </a>
          <a href={pages.shipping_delivery.path}>
            <img src="/icons/shipping.svg" alt="" loading="lazy" />
            Shipping & Delivery
          </a>
        </div>
      </div>
    </div>
    <div class="legal-content">
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>

      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
      <p class="paragraph-1">
        Lorem ipsum dolor sit amet consectetur. Quam nisl non dictumst dignissim
        fringilla curabitur tellus quisque at. Dictum justo praesent morbi
        massa. Adipiscing ornare urna aliquet eu felis turpis. Viverra arcu
        vivamus nec in fusce vitae. Porttitor nibh libero condimentum in. Amet
        quisque pulvinar dui vel adipiscing elit sed lorem. Habitant suspendisse
        mattis nascetur dolor varius lectus.
      </p>
    </div>
  </section>
</Layout>
