---
import { menuLinks } from "../scripts/utils/menuButtons";

const { headerOpacity: desktopOpacity = 1 } = Astro.props;
---

<>
  <header transition:persist="header" transition:animate="none">
    <a href="/" class="brand-link home-link" aria-label="Click to go home">
      <img
        src="/logos/ai_robots_logo.svg"
        alt="Ai Robots Brand"
        width=""
        height=""
      />
    </a>

    <div class="menus">
      <button aria-label="Click to open mobile menu" id="hamburger">
        <span></span><span></span><span></span>
      </button>
      <button aria-label="Click to search">
        <img src="/icons/magnifier.svg" alt="Search" />
      </button>
      <span></span>
      <button aria-label="Click to check account">
        <img src="/icons/user.svg" alt="User Account" />
      </button>
      <button aria-label="Click to open the cart">
        <img src="/icons/bag.svg" alt="Cart" />
      </button>
    </div>
  </header>
  <nav transition:persist transition:animate="none">
    {
      menuLinks.map((link, index) =>
        link.isLink ? (
          <a
            href={link.href}
            class={`nav-link ${link.className ? link.className : ""}`}
          >
            {link.icon && <img src={link.icon} alt="" />}
            {link.name}
          </a>
        ) : (
          <li class={`nav-link ${link.className ? link.className : ""}`}>
            {link.icon && <img src={link.icon} alt="" />}
            {link.name}
          </li>
        ),
      )
    }

    {
      menuLinks.map(
        (link, index) =>
          index != 0 && (
            <div class="sub-nav" data-link={link.name}>
              {link.options?.map((group) => (
                <div class="group">
                  <span>{group.name}</span>
                  {group.products.map((product) => (
                    <a href={product.link}>
                      {product.thumbnail && (
                        <img src={product.thumbnail} alt="" />
                      )}
                      {product.name}
                    </a>
                  ))}
                </div>
              ))}
              {link.href && (
                <a href={link.href} class="own-link">
                  {`About ${link.name}`}
                  <img src="/icons/arrow_right.svg" alt="" loading="lazy" />
                </a>
              )}
            </div>
          ),
      )
    }
  </nav>
</>

<style lang="scss" define:vars={{ desktopOpacity }}>
  :root {
    --nav-background: rgba(18, 18, 18, 0.8);
    --nav-height: calc(var(--fs) * 3.5);
    --button-height: calc(var(--fs) * 2.8125);
  }
  header {
    position: fixed;
    top: calc(var(--fs) * 2.5);
    left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--hor-padding);
    z-index: 10;
    pointer-events: none;
    & > * {
      pointer-events: auto;
    }

    .brand-link {
      width: calc(var(--fs) * 13.1875);
      height: calc(var(--fs) * 1.625);
      background: none !important;
      border: none !important;
      &:hover {
        background: none !important;
        border: none !important;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }

    .menus {
      display: flex;
      align-items: center;
      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: var(--button-height);
        height: var(--button-height);
        border-radius: calc(var(--fs) * 0.875);
        // border-top: 0.5px solid #242222;
        // border-bottom: 0.5px solid #242222;
        background: var(--nav-background);
        backdrop-filter: blur(0.5vw);
        -webkit-backdrop-filter: blur(0.5vw);
        transition: background-color 0.15s ease-in;
        margin-right: calc(var(--fs) * 0.9);
        &:last-of-type {
          margin-right: 0;
        }
        &#hamburger,
        span {
          display: none;
        }
        img {
          height: calc(var(--fs) * 1.3);
          width: auto;
        }
      }
    }
    a,
    button {
      &.active,
      &:hover {
        font-weight: 500;
        background-color: #282828 !important;
        border-bottom: calc(var(--fs) * 0.005) solid #666 !important;
      }
    }
  }

  nav {
    border-radius: calc(var(--fs) * 0.875);
    border: 0.5px solid #242222;
    background: var(--nav-background);
    backdrop-filter: blur(0.5vw);
    -webkit-backdrop-filter: blur(0.5vw);
    height: var(--nav-height);
    padding: calc(var(--fs) * 0.35) calc(var(--fs) * 0.35);
    padding-right: calc(var(--fs) * 1);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    grid-auto-rows: 1fr;
    gap: calc(var(--fs));
    place-items: center;
    place-content: center;
    position: fixed;
    top: calc(var(--fs) * 2.15);
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 10;

    .nav-link {
      color: #fff;
      font-family: "Work Sans";
      font-size: var(--fs);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      border-radius: inherit !important;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 calc(var(--fs) * 1.5);
      text-transform: capitalize;
      transition: background-color 0.15s ease-in;
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;

      img {
        width: calc(var(--fs) * 1.25);
        height: calc(var(--fs) * 1.25);
        margin-right: calc(var(--fs) * 0.5);
      }
      &.active,
      &:hover {
        font-weight: 500;
        background-color: #282828 !important;
        border-bottom: calc(var(--fs) * 0.005) solid #666 !important;
      }
    }

    .sub-nav {
      width: 100%;
      min-height: calc(var(--fs) * 15);
      border-radius: calc(var(--fs) * 0.875);
      background: #121212;
      position: absolute;
      top: 100%;
      left: 0;
      transform: translateY(calc(var(--fs) * 1));
      padding: calc(var(--fs) * 1.37) calc(var(--fs) * 1.69);
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: max-content;
      gap: 0;
      justify-content: space-between;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.25s ease-in;
      & > * {
        pointer-events: none;
      }
      &.hover {
        opacity: 1 !important;
        visibility: visible !important;
      }
      .group {
        display: grid;
        grid-auto-flow: row;
        grid-auto-rows: max-content;
        justify-items: start;
        gap: calc(var(--fs) * 0.75);
        span {
          color: #969696;
          font-family: "Work Sans";
          font-size: calc(var(--fs) * 0.875);
          font-style: normal;
          font-weight: 400;
          line-height: 1.42; /* 142.857% */
          text-transform: capitalize;
        }
        a {
          color: #fff;
          font-family: "Work Sans";
          font-size: calc(var(--fs) * 1.25);
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
          width: 100%;
          height: calc(var(--fs) * 2.5);
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          padding: 0 calc(var(--fs) * 0.625);
          border: none !important;
          pointer-events: auto;
          border-radius: calc(var(--fs) * 0.625) !important;
          img {
            width: calc(var(--fs) * 2.25488);
            height: calc(var(--fs) * 1.875);
            object-fit: contain;
            margin-right: calc(var(--fs) * 0.25);
          }
          &:hover,
          &.active {
            background-color: #363636 !important;
          }
        }
      }
      .own-link {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        margin-top: calc(var(--fs) * 2);
        pointer-events: auto;
        background-color: none;
        border: none !important;
        color: #fff;
        font-family: "Work Sans";
        font-size: calc(var(--fs) * 1.1538);
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: calc(var(--fs) * -0.04613);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--fs) * 2.5);
        justify-self: center;
        padding: 0 calc(var(--fs) * 2);
        border-radius: calc(var(--fs) * 0.75);
        &:hover {
          background-color: #363636;
        }
        img {
          width: calc(var(--fs) * 1.32469);
          height: calc(var(--fs) * 1.02556);
          margin-left: calc(var(--fs) * 0.5);
        }
      }
    }
  }

  @media (orientation: landscape) {
    header,
    nav {
      opacity: var(--desktopOpacity);
    }
  }

  @media (orientation: portrait) {
    nav {
      background: #121212 !important;
    }
    header {
      .menus {
        button {
          background: #121212 !important;
          backdrop-filter: unset !important;
        }
      }
    }
  }
  @media (orientation: portrait) and (min-aspect-ratio: 0.625) {
    :root {
      --nav-height: calc(var(--fs) * 2.625);
      --button-height: calc(var(--fs) * 2.57813);
    }
    header {
      top: calc(var(--fs) * 1.5);
      .brand-link {
        width: calc(var(--fs) * 8.11);
        height: calc(var(--fs) * 1);
      }
      .menus {
        button {
          margin-right: calc(var(--fs) * 0.25);
          border-radius: calc(var(--fs) * 0.8);
          border: none;
          img {
            height: 50%;
            width: auto;
          }
        }
      }
    }
    nav {
      border-radius: calc(var(--fs) * 0.65);
      border: 0.5px solid #242222;
      backdrop-filter: unset;
      padding: calc(var(--fs) * 0.35) calc(var(--fs) * 0.35) !important;
      gap: 0;
      top: calc(var(--fs) * 1.5);
      .nav-link {
        font-size: calc(var(--fs) * 0.75);
        padding: 0 calc(var(--fs) * 0.5);
      }
    }

    .sub-nav {
      min-height: calc(var(--fs) * 15);
      grid-template-columns: repeat(2, 1fr) !important;
      grid-auto-flow: unset !important;
      grid-auto-columns: unset !important;
      grid-auto-rows: max-content !important;
      column-gap: calc(var(--fs) * 1) !important;
      row-gap: calc(var(--fs) * 2) !important;
      padding: calc(var(--fs) * 1) !important;
      background-color: rgba(18, 18, 18, 0.95) !important;
      .group {
        gap: calc(var(--fs) * 0.5) !important;
        span {
          font-size: calc(var(--fs) * 0.75) !important;
        }
        a {
          font-size: calc(var(--fs) * 0.75) !important;
          width: 100% !important;
          height: calc(var(--fs) * 2.25) !important;
          border: none !important;
          border-radius: calc(var(--fs) * 0.625) !important;
        }
      }
      .own-link {
        grid-column: 1 / 3 !important;
        grid-row: 3 / 4 !important;
        margin-top: calc(var(--fs) * 0) !important;
        pointer-events: auto;
        background-color: none;
        border: none !important;
        color: #fff;
        font-family: "Work Sans";
        font-size: calc(var(--fs) * 0.75) !important;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: calc(var(--fs) * -0.04613);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc(var(--fs) * 2) !important;
        justify-self: center;
        padding: 0 calc(var(--fs) * 1) !important;
        border-radius: calc(var(--fs) * 0.75);
        &:hover {
          background-color: #363636;
        }
        img {
          width: calc(var(--fs) * 1.32469);
          height: calc(var(--fs) * 1.02556);
          margin-left: calc(var(--fs) * 0.5);
        }
      }
    }
  }

  @media (orientation: portrait) and (max-aspect-ratio: 0.624) {
    header {
      top: 0;
      grid-template-columns: 100%;
      padding: 0 var(--hor-padding);
      background-color: #000 !important;
      height: calc(var(--fs) * 4.0625);

      a,
      button {
        &.active,
        &:hover {
          font-weight: 500;
          background: none !important;
          border: none !important;
        }
      }
      .brand-link {
        width: calc(var(--fs) * 9.56213);
        height: calc(var(--fs) * 1.17831);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .menus {
        display: grid;
        grid-template-columns: repeat(2, max-content) 1fr repeat(2, max-content);
        gap: calc(var(--fs) * 0.25);
        height: 100%;
        width: 100%;
        button {
          border-radius: initial;
          border-top: initial;
          border-bottom: initial;
          background-color: initial;
          backdrop-filter: unset !important;
          -webkit-backdrop-filter: unset !important;
          transition: background-color 0.15s ease-in;
          width: initial;
          height: initial;
          &#hamburger {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
            width: calc(var(--fs) * 1.953);
            height: 100%;
            padding: calc(var(--fs) * 1.5) 0;
            transition: transform 0.15s ease-out;
            background: none !important;
            &.open {
              transform: translateX(35%);
              span {
                &:first-of-type {
                  transform: rotate(45deg) translateY(calc(var(--fs) * 0.727));
                }
                &:nth-of-type(2) {
                  opacity: 0;
                }
                &:last-of-type {
                  transform: rotate(-45deg) translateY(calc(var(--fs) * -0.727));
                }
              }
            }
            span {
              width: 70%;
              height: 1.5px;
              background-color: #fff;
              display: block;
              border-radius: 1px;
              pointer-events: none;
              transition:
                transform 0.15s ease-out,
                opacity 0.15s ease-in !important;
              &:nth-of-type(2) {
                width: 100%;
              }
            }
          }
          img {
            height: 100%;
            width: auto;
          }
        }
      }
    }
    nav {
      display: none;
      visibility: hidden;
      opacity: 0;
    }
  }
</style>
