---
import ScriptsLayout from "./ScriptsLayout.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Menu from "../components/Menu.astro";
import { ClientRouter } from "astro:transitions";
import Preloader from "../components/Preloader.astro";
import { pages } from "../scripts/pages";

interface Props {
  // title: string;
  // description: string;
  htmlClasses?: string;
  bodyClasses?: string;
  renderFooter?: boolean;
}

const { htmlClasses, bodyClasses, renderFooter = true } = Astro.props;

const routePattern = decodeURI(Astro.routePattern);
const isHome = routePattern == "/";

const headData = Object.values(pages)
  .filter((page) => page.path == routePattern)
  .map(({ title, description }) => ({
    title,
    description,
  }))[0];
console.log(headData, "valss");
const title = headData?.title ? headData?.title : "404 - Not found";
const description = headData?.description
  ? headData?.description
  : "Page not found, Ai Robots";
---

<html lang="en-US" data-page={routePattern} class={htmlClasses}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="keywords" content="" />
    <meta name="author" content="MDX" />
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000" />
    <meta name="generator" content={Astro.generator} />
    <title>{`${title} - AI ROBOTS`}</title>

    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content="" />
    <meta property="og:image" content="/icons/logo.png" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content="website.com" />
    <meta property="twitter:url" content="https://website.com/" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content="" />
    <meta name="twitter:image" content="/icons/logo.png" />
    <slot name="preload" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <ClientRouter fallback="swap" />
  </head>
  <body class={bodyClasses}>
    <Preloader visible={isHome ? "visible" : "invisible"} />
    <Header />
    <Menu />
    <div id="smooth-wrapper">
      <div id="smooth-content">
        <main>
          <slot />
        </main>
        {renderFooter && <Footer />}
      </div>
    </div>
    <ScriptsLayout />
    <slot name="script" />
    <slot name="script-2" />
    <slot name="fixed" />
    <slot name="fixed-2" />
  </body>
</html>

<style lang="scss" is:global>
  :root {
    --fs: 0.85vw;
    --hor-padding: 2.5vw;
    --aqua: #44fafc;
    --Gray-Paragraph: #cbcbcb;
    --White: #fff;
    --top-space: min(calc(var(--fs) * 20), 30vh);
    --MAIN-BLUE: #6289ff !important;
    --line-color: var(--MAIN-BLUE) !important;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }

  html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-family: "Work Sans", sans-serif;
    font-style: normal;
    width: 100%;
    height: 100svh;
    background-color: #000;
    overflow: hidden;
  }

  ::-webkit-scrollbar {
    display: none;
  }

  ::selection {
    background-color: rgba(255, 255, 255, 0.35);
  }
  ::placeholder {
    color: rgba(255, 255, 255, 0.5) !important;
  }

  #smooth-content {
    overflow: hidden;
  }

  body {
    margin: 0 auto;
    line-height: 1.25;
    -webkit-font-smoothing: antialiased;
    scrollbar-gutter: stable;
    position: relative;
  }

  html,
  body {
    // overflow: hidden;
  }

  body[data-is-home="false"] {
    main {
      background-color: #000;
      position: relative;
      z-index: 2;
    }
  }
  main {
    // min-height: 100vh;
  }

  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
  }

  img,
  picture {
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
  }

  input,
  a,
  button,
  textarea,
  select {
    font: inherit;
    outline: none;
    border: none;
  }

  input,
  textarea {
    background: none;
  }

  a {
    text-decoration: none !important;
    user-select: none;
    cursor: pointer;
  }

  button {
    background: none;
    user-select: none;
    cursor: pointer;
    padding: 0;
  }

  a,
  button {
    user-select: none !important;
    -webkit-user-select: none !important;
    -webkit-user-drag: none !important;
  }

  button div {
    user-select: none;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
    text-wrap: balance;
  }

  h1,
  h2 {
    color: var(--White, #fff);
    text-align: center;
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 5);
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
  }

  .h1 {
    color: var(--White, #fff);
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 3.75);
    font-style: normal;
    font-weight: 500;
    line-height: 1; /* 100% */
  }

  .h2 {
    color: #fff;
    /* Desktop/H2 Medium */
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 3.5);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .subtitle-2 {
    color: var(--White, #fff);
    text-align: center;
    /* Desktop/Subtitle 2 Medium */
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 2.5);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .subtitle-3 {
    color: var(--MAIN-BLUE, #6289ff);
    text-align: center;
    /* Desktop/subtitle 3 Medium */
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 1.625);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  .paragraph-1 {
    color: var(--Gray-Paragraph, #cbcbcb);
    text-align: center;

    /* Desktop/Paragraph  1 Regular */
    font-family: "Work Sans";
    font-size: calc(var(--fs) * 1.125);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .under-dev {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  section {
    min-height: 100vh;
    width: 100%;
    position: relative;
  }

  .with-border {
    position: relative;
    overflow: hidden;
    background: linear-gradient(
      15deg,
      rgba(50, 50, 50, 0.5) 35%,
      rgba(255, 255, 255, 0.25) 80%
    ) !important;
    --border-width: calc(var(--fs) * 0.1);
    & > * {
      z-index: 2 !important;
      position: relative;
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0%);
      width: calc(100% - calc(var(--border-width)));
      height: calc(100% - calc(var(--border-width) * 0.5));
      z-index: 1;
      background: rgba(15, 15, 15, 1);
      border-radius: inherit;
      pointer-events: none;
    }
  }

  .shade {
    width: calc(var(--fs) * 16.25 * 3);
    height: calc(var(--fs) * 16.25 * 3);
    position: absolute !important;
    background: radial-gradient(#262626, rgba(0, 0, 0, 0) 50%);
    transition: opacity 0.35s ease-in-out;
    pointer-events: none;
    margin: 0;
  }

  .line-element {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    align-items: center;
    gap: calc(var(--fs));
    div {
      --dimension: calc(var(--fs) * 0.09);
      width: calc(var(--fs) * 6.25);
      height: var(--dimension);
      background: var(--line-color);
      position: relative;
      &:first-of-type {
        &::after {
          content: "";
          display: block;
          background: var(--line-color);
          width: calc(var(--dimension) * 4);
          height: calc(var(--dimension) * 4);
          position: absolute;
          right: 0;
          top: 50%;
          transform: translate(0%, -50%) rotate(45deg);
        }
      }
      &:last-of-type {
        &::before {
          content: "";
          display: block;
          background: var(--line-color);
          width: calc(var(--dimension) * 4);
          height: calc(var(--dimension) * 4);
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(0%, -50%) rotate(45deg);
        }
      }
    }
    span {
      color: #6289ff;
      font-family: "Work Sans";
      font-size: calc(var(--fs) * 1.125);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      display: block;
    }
  }
  .margin-0 {
    margin: 0 !important;
  }
  .border-radius-0 {
    border-radius: 0 !important;
  }
  .border-test {
    border: 1px solid #eee !important;
  }
  .min-height-unset {
    min-height: unset;
  }
  .overflow-hidden {
    overflow: hidden !important;
  }

  @media (orientation: landscape) {
    .br-desktop {
      display: block !important;
    }
    .br-tablet,
    .br-mobile {
      display: none;
    }
    .p-5 {
      padding: calc(var(--fs) * 5);
    }
    .line-element {
      &.big-desktop {
        span {
          font-size: calc(var(--fs) * 1.625);
        }
      }
    }
  }

  .color-black {
    color: #000;
  }

  @media (orientation: portrait) {
    :root {
      --hor-padding: 3vw;
      --fs: 3.5vw;
      --top-space: min(calc(var(--fs) * 10), 15vh);
    }
    * {
      user-select: none;
      -webkit-user-select: none;
      -webkit-user-drag: none;
    }
    html {
      overflow: initial;
      &.fixed {
        overflow: hidden !important;
      }
    }

    section {
      min-height: 100svh;
    }
    h1,
    h2 {
      font-size: calc(var(--fs) * 2.1875);
      line-height: 110%;
    }
    .h1 {
      font-size: calc(var(--fs) * 2.1875);
    }
    .h2 {
      font-size: calc(var(--fs) * 2);
    }
    .subtitle-2 {
      font-size: calc(var(--fs) * 1.375);
    }
    .subtitle-3 {
      font-size: calc(var(--fs) * 1.0625);
    }
    .paragraph-1 {
      font-size: calc(var(--fs) * 0.875);
    }

    main {
      min-height: unset;
      z-index: 0;
    }

    .heading-1 {
      font-size: calc(var(--fs) * 4.12856);
    }

    .heading-2 {
      font-size: calc(var(--fs) * 2.1875);
      span {
        color: #fff;
      }
    }
    .text {
      font-size: calc(var(--fs) * 0.875);
    }

    .little-heading {
      font-size: calc(var(--fs) * 0.63863);

      img {
        width: calc(var(--fs) * 0.632);
        height: calc(var(--fs) * 0.632);
        margin-right: calc(var(--fs) * 0.29);
      }
      span {
        margin: 0 calc(var(--fs) * 0.15);
      }
    }

    .section-bck {
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: radial-gradient(
        55.09% 55.09% at 51.04% 50%,
        #130236 0%,
        #000 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      img,
      picture {
        width: calc(var(--fs) * 120 * 0.6);
        height: calc(var(--fs) * 67.5 * 0.6);
        max-width: none;
      }
    }

    .with-border {
      --border-width: calc(var(--fs) * 0.085);
      &::before {
        width: calc(100% - calc(var(--border-width)));
        height: calc(100% - calc(var(--border-width) * 0.5));
        border-radius: inherit;
      }
    }

    .shade {
      width: calc(var(--fs) * 16.25 * 3);
      height: calc(var(--fs) * 16.25 * 3);
      position: absolute;
      background: radial-gradient(#262626, rgba(0, 0, 0, 0) 50%);
      transition: opacity 0.35s ease-in-out;
      pointer-events: none;
      margin: 0;
    }

    :root {
      --fs: 3.5vw;
      --top-padding: calc(var(--fs) * 3);
      --top-space: min(calc(var(--fs) * 5), 7.5vh);
    }

    .shade {
      width: calc(var(--fs) * 16.25);
      height: calc(var(--fs) * 16.25);
    }

    .line-element {
      div {
        --dimension: calc(var(--fs) * 0.075);
        width: calc(var(--fs) * 3.25);
        height: var(--dimension);
      }
      span {
        font-size: calc(var(--fs) * 0.875);
      }
      &.short-mobile {
        span {
          font-size: calc(var(--fs) * 0.875 * 0.85);
        }
      }
    }

    @media (min-aspect-ratio: 0.625) {
      :root {
        --fs: 2vw;
        --top-padding: calc(var(--fs) * 3);
      }

      .br-desktop,
      .br-mobile {
        display: none;
      }
      .br-tablet {
        display: block !important;
      }

      .h1 {
        font-size: calc(var(--fs) * 3.75);
      }
      .h2 {
        font-size: calc(var(--fs) * 3.125);
      }
      .subtitle-2 {
        font-size: calc(var(--fs) * 1.375);
      }
      .subtitle-3 {
        font-size: calc(var(--fs) * 1.375);
      }
      .paragraph-1 {
        font-size: calc(var(--fs) * 1.125);
      }
      .with-border {
        --border-width: calc(var(--fs) * 0.1);
      }
      .shade {
        width: calc(var(--fs) * 16.25 * 3);
        height: calc(var(--fs) * 16.25 * 3);
      }

      .line-element {
        div {
          --dimension: calc(var(--fs) * 0.1);
          width: calc(var(--fs) * 5);
          height: var(--dimension);
        }
        span {
          font-size: calc(var(--fs) * 1.375);
        }
      }
    }
    @media (max-aspect-ratio: 0.625) {
      .br-desktop,
      .br-tablet {
        display: none;
      }
      .br-mobile {
        display: block !important;
      }
    }
  }

  @media (max-width: 480px) and (min-aspect-ratio: 0.55) and (orientation: portrait) {
  }

  @media (max-width: 300px) and (orientation: portrait) {
    :root {
      --fs: 4.5vw;
    }
  }

  @media (max-height: 500px) and (orientation: landscape) {
  }

  @media (max-width: 200px) and (orientation: portrait) {
    /* NO WAY */
  }
  @media (max-height: 200px) and (orientation: landscape) {
    /* NO WAY */
  }
</style>
